/* Área principal */
.body-login {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

/* Formulário */
.container-login {
  background-color: #1a1a1a;
  padding: 40px 30px;
  border-radius: 15px;
  width: 50%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo-login {
  font-size: 2rem;
  font-weight: bold;
  color: #006BFF;
  margin-bottom: 25px;
}

/* Campo de entrada */
.input-field-login {
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.input-field-login input {
  width: 85%;
  padding: 12px 40px 12px 15px;
  border: none;
  border-radius: 8px;
  background-color: #2c2c2c;
  color: #ffffff;
  font-size: 1rem;
}

.input-field-login input::placeholder {
  color: #aaaaaa;
}

.icon-login {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #6198ff;
  font-size: 1.2rem;
}

/* Esqueceu a senha */
.recall-forget-login {
  width: 100%;
  text-align: right;
  margin-bottom: 25px;
}

.recall-forget-login a {
  text-decoration: none;
  color: #6198ff;
  font-size: 0.9rem;
}

.recall-forget-login a:hover {
  text-decoration: underline;
}

/* Botões */
.button-login {
  background-color: #006BFF;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-login:hover {
  background-color: #0052cc;
  transform: scale(1.05);
}

/* Cadastro */
.signup-link-login {
  margin-top: 20px;
  text-align: center;
}

.signup-link-login p {
  margin: 5px 0;
}

/* Responsivo */
@media (max-width: 480px) {
  .container-login {
    padding: 30px 20px;
  }

  .titulo-login {
    font-size: 1.7rem;
  }

  .input-field-login input {
    padding: 12px 35px 12px 15px;
  }

  .icon-login {
    font-size: 1rem;
  }

  .button-login {
    font-size: 0.95rem;
    padding: 10px 18px;
  }
}
