.tituloPlaylist{
    text-align: center;
    padding: 30px 20px;
}

.tituloPlaylist h1 {
    font-size: 2.5rem;
    color: #ffffff;
    text-shadow: 2px 2px #006BFF;
}

.buttonCategoria{
    display: flex;
    gap: 8px;
    overflow: auto;
    scrollbar-width: none;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.buttonItem{
    border: 1px solid rgb(4, 68, 107);
    border-radius: 10px;
    color:  #006BFF;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2.5px;
    padding:8px 20.6px;
    cursor: pointer;
    margin: 5px;
    transition: all 0.3s ease;
}

.flex-conteiner-playlist{
    display: flex;
    gap: 10px;
}

.flex-item-playlist{
    margin: 20px;

}

.flex-item-caixa {
    display: flex;              /* Ativa o modelo de layout Flexbox */
    flex-wrap: wrap;            /* Permite que os itens que não cabem na linha atual se movam para a linha seguinte */
    align-items: center;
    justify-content: center;
    gap: 30px;
}
 
.flex-item-caixa p {
    padding: 5px;               /* Padding opcional para dar espaçamento interno */
    text-align: center;         /* Alinha o texto no centro */
}