.tituloPlaylist{
    background-color:#F3C623;
    text-align: center;
    border-radius: 50px;
    margin: 20px;
    height: 120px;
    padding: 10px;
}

.buttonCategoria{
    display: flex;
    gap: 8px;
    overflow: auto;
    scrollbar-width: none;
}

.buttonItem{
    border: 1px solid rgb(4, 68, 107);
    border-radius: 10px;
    color:  rgb(4, 68, 107);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2.5px;
    padding:8px 20.6px;
    transition: all .5s;
    cursor: pointer;
}

.flex-conteiner-playlist{
    display: flex;
    gap: 10px;
}

.flex-item-playlist{
    margin: 20px;

}

.flex-item-caixa {
    display: flex;              /* Ativa o modelo de layout Flexbox */
    flex-wrap: wrap;            /* Permite que os itens que não cabem na linha atual se movam para a linha seguinte */
    align-items: center;
    justify-content: center;
    gap: 30px;
}
 
.flex-item-caixa p {
    padding: 5px;               /* Padding opcional para dar espaçamento interno */
    text-align: center;         /* Alinha o texto no centro */
}