.fundoSobreNos{
    background-color: #1a1a1a;
    border-radius: 50px;
    margin: 20px;
    padding: 10px;
}

.tituloSobreNos{
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px #006BFF;
  }